.PHP {
    color: #4F5D95;
}
.Python {
    color: #3572A5;
}
.Go {
    color: #00ADD8;
}
  
.Shell {
    color: #89e051;
}
.Ruby {
    color: #701516;
}
.C {
    color: #555555;
}
.C++ {
    color: #f34b7d;
}
.JAVA {
  color: #b07219;
}
.Objective-C {
  color: #438eff;
}
.Objective-C++ {
  color: #6866fb;
}
.Csharp {
  color: #178600;
}
.CSS {
  color: #563d7c;
}
.JavaScript {
  color: #f1e05a;
}
.PowerShell {
  color: #012456;
}
.Swift {
  color: #ffac45;
}
.VisualBasic {
  color: #6d4f95;
}
